/* span{
    color:blue;
 }

 .second-text{
    color:red;
 }
 
 .first-text{
    background-color: blueviolet;
 }

 #test{
    color: brown;
 }

 .box1{
    width: 500px;
    height: 400px;
    background-color: magenta;
 }

 .box2{
    width: 500px;
    height: 400px;
    background-color: magenta;
 }

 .box3{
    margin-top: 10px;
    width: 500px;
    height: 400px;
    background-color: magenta;
 }

 .box1 p{
    color: aqua;
 }

 .box2 p{
    color: antiquewhite;
 }
 
 .box3 a .link{
    color: white
 } */


 .center-text{
   width: 1500px;
    height: 200px;
   background-color: chocolate;
 } 

.box5{
   width: 1500px;
   height: 200px;
   background-color: coral;
}

